.container {
    /* background-image: url("assets/images/fondo.png"); */
    width: 100%;
    height: 100%;
}

.title {
    border-radius: 20%;
    opacity: 0.5;
    margin: 16px 20px;

}

.logo {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.contactenos {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.menus {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}