<div class="contenedor">
    <div class="container">
        <div class="contenedor-title">
            <div class="title">JABONICS</div>
        </div>
        <div class="logo">
            <img src="/assets/images/LOGO-JABONICS.png" alt="" />
        </div>
        <div class="contactenos">
            <img src="/assets/images/LOGO-BELU.png" alt="" />
        </div>
        <div class="menus">
            <a routerLink="../usuarios"><button class="buttons">Usuarios</button></a>
            <a routerLink="../productos"><button class="buttons">Productos</button></a>
            <a routerLink="../tipoProducto"><button class="buttons">TipoProducto</button></a>
            <a routerLink="../ventas"><button class="buttons">Ventas</button></a>
            <a routerLink="../reportes"><button class="buttons">Reportes</button></a>
        </div>
    </div>
</div>