.vertical-center_1 {
    min-height: 100%;
    min-height: 73.2vh;
    display: flex;
    align-items: center;
}

.vertical-center_2 {
    min-height: 100%;
    min-height: 89.2vh;
    display: flex;
    align-items: center;
}

.mat-table {
    border-radius: 20px;
    overflow: hidden !important;
}