<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/"> Interfaz de Usuario</a>
</nav>
<div class="wrapper wrapper--w680">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let Usuario of UsuarioArray; let CUsuario = index" class="list-group-item list-group-item-action"
          (click)="openForEdit(Usuario)" [class.active]="Usuario == selectedUsuario">
          <span>{{CUsuario+1}} </span>
          <!--<span>{{Usuario.id}}</span> --> <span>{{Usuario.NUsuario}} </span> <span>{{Usuario.TContrasena}} </span>
        </li>
        <!-- 5 Agregar el editar -->
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insertar nuevo usuario
          </div>
          <!-- 4 -->
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUsuario.NUsuario" placeholder="Insertar usuario"
              class="form-control" name="NUsuario">

          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedUsuario.TContrasena" placeholder="Insertar contrasena"
              class="form-control" name="TContrasena">
          </div>

          <button (click)="addOrEdit()" class="btn btn-primary">Enviar</button>
          <!-- 6 Eliminar-->

          <!-- <button *ngIf="selectedUsuario.CUsuario !==0" class="btn btn-danger" (click)="delete()">Eliminar</button> -->

          <button (click)="delete()" class="btn btn-danger">Eliminar</button>
        </div>
      </div>
    </div>

  </div>
</div>