<div class="container">
    <div class="title">JABONICS</div>
    <div class="logo">
        <img src="" alt="" />
    </div>
    <div class="contactenos">
        <img src="" alt="" />
    </div>
    <div class="menus">
        <a routerLink="/usuarios"><button class=""> Usuarios</button></a>
        <button type="button">Productos</button>
        <button type="button">Tipo de productos</button>
        <button type="button">Ventas</button>
        <button type="button">Reportes</button> 
    </div>
</div>