<div style="display: flex; justify-content: center;">
  <div style="width: 600px;">
    <h1 class="rpt">Reporte Ventas</h1>
    <div class="anno">
      <label for="cmbAnno">Año</label>
      <mat-select [(ngModel)]="annoSelected" (ngModelChange)="onChangeAnno()" id="cmbAnno" placeholder="Seleccione">
        <mat-option *ngFor="let anno of annoList" [value]="anno.value">
          {{anno.text}}
        </mat-option>
      </mat-select>
    </div>
    
    <div class="vtn">
      <label for="txtVentaTotal">Venta Total:</label>
      <input type="text" id="txtVentaTotal" [value]="totalVentasPorAnno" readonly/>
    </div>

    <div class="mvt">
      <label for="txtMesMayorVenta">Mes mayor venta:</label>
      <input type="text" id="txtMesMayorVenta" [value]="monthMax" readonly/>
    </div>
  </div>
</div>
