.list-group list-group-horizontal{
    background-color: #CC1414
}
.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.img-thumbnail{
  background-color: blueviolet;
  border-color: transparent;
}


@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  body {
    font-family: 'Lato', sans-serif;
  }
  
  * {
    box-sizing: border-box;
    scrollbar-color: transparent transparent; /* thumb and track color */
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  


/*_________________ROLLER-CARROUSEL IMAGES--------------*/

  
  
  .slider{
    width: 1900px;
    height: 500px;
    /* border-radius: 20px; */
    padding: 0%;
    overflow: hidden;
  }
  
  .slides{
    width: 590%;
    height: 500px;
    display: flex;
    
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 1900px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position:absolute;
    width: 1500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1500px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }
      
  

  /*______________________________CUADROS - ARTICLES_____________*/
  
  .contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.servicio-cont{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.servicio-ind{
  width: 28%;
  text-align: center;
  color:white;
}

.servicio-ind img{
  width: 90%;
}

.servicio-ind h3{
  margin: 10px 0;
  font-weight: 1000;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.servicio-ind p{
  font-weight: 300;
  text-align: justify;
}
.titulo {
  color: white;
  margin-bottom: 60px;
  font-family:sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}